/* Info: line limit START */
.line-limit {
    display: -webkit-inline-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.only-lines-1 {
    -webkit-line-clamp: 1;
}
.only-lines-2 {
    -webkit-line-clamp: 2;
}
.only-lines-3 {
    -webkit-line-clamp: 3;
}
.only-lines-4 {
    -webkit-line-clamp: 4;
}
.only-lines-5 {
    -webkit-line-clamp: 5;
}
.only-lines-6 {
    -webkit-line-clamp: 6;
}
/* Info: line limit END */